header {
    color: rgb(250, 247, 247);
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: black;
    color: white;
    background-image: 
}
.search {
    border: solid 2px black;
}
#socialBtn {
    background-color: none;
    border: none;
    width: 25%;
}

#searchBtn {
    border-radius: 12px;
    background-color: rgb(11, 163, 239);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 247, 247);
    padding: 2px 24px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(41, 104, 135);
}

#artist-search {
    font-style: bold;
    font-size: 16px;
}

.music-container {
    background-color: grey;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    min-height: 60%;
    max-height: 60%;
    border-width: 1rem;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(3, 3, 3);
}

#eventContainer {
    background-color: rgb(6, 6, 6);
    color:white;
    width: 50%;
    min-width: 50%;
    min-height: 50%;
}

.event-container-img {
    width: 100%;
    min-width: 250px;
    min-height: 250px;
}

#placeholderSpotify {
    width: 50%;
}

img {
    height: 40px;
}

ul {
    list-style-type: none;
}

footer {
    background-color: black;
    color: rgb(250, 247, 247);
}


@media screen {
    .event-container {
        background-color: grey;
        width: 100%;
    }

    .music-container {
        background-color: rgb(2, 2, 2);
        width: 100%;
    }
}